<div class="divide-y border-t border-b addtocart2">
  {% for block in section.blocks %}
    
    <div>
      <div class="flex justify-between py-8 cursor-pointer clickDropdown">
        <h4 class="text-lg font-medium">{{ block.settings.product_tab_heading }}</h4>
        <span aria-hidden="true" class="text-2xl flex-shrink-0 icon icon-chevron-down chevronDesc"></span>
      </div>
      <div class="hidden dropdownItem mb-8">
        <p>{{ block.settings.product_tab_text }}</p>
      </div>
    </div>

  {% endfor %}

  </div> 