<div class="bg-white px-4 2xl:px-0 py-4 fixed bottom-0 w-full shadow-lg bottomMenu hidden" style="z-index: 9995;">
    <div class="2xl:container mx-auto space-y-4 sm:space-y-0 justify-between block sm:flex items-center">
      <div class="items-center sm:space-x-6 block sm:flex">
        <h3 class="font-medium whitespace-nowrap text-sm sm:text-base">Product name</h3>
        <div class="flex space-x-2 text-xs sm:text-sm text-gray-500">
          <p>$89.00</p>
          <p>/</p>
          <p>M</p>
          <p>/</p>
          <p>Red</p>
        </div>
      </div>
      <div>
        <a class="border rounded-md w-full py-2 sm:py-3 text-sm sm:text-base justify-center items-center px-4 bg-black space-x-2 text-white flex" href="">
          <span aria-hidden="true" class="text-2xl icon icon-shopping-cart"></span>
          <p>Add to cart</p>
        </a>
      </div>
    </div>
</div>