<section class="max-width mx-auto{% if section.settings.richtext_height == 'small' %} py-12 lg:py-16 {% elsif section.settings.richtext_height == 'large' %} py-16 lg:py-32 {% endif %}">
    <div class="mx-auto">
      <div class="max-w-screen-sm mx-auto text-center">
        <h2 class="heading-lg clr-general-headings mb-4">{{ section.settings.richtext_heading }}</h2>
        <p class="body-md clr-general-text mb-6">{{ section.settings.richtext_text }}</p>
        <div class="flex justify-center">
          <a href="{{ section.settings.richtext_link_url }}" class="btn-lg {% if section.settings.richtext_button_style == 'primary' %} btn-primary {% elsif section.settings.richtext_button_style == 'secondary' %} btn-secondary {% endif %}">{{ section.settings.richtext_button_text }}</a>
        </div>
      </div>
    </div>
</section>

{% schema %}
{
    "name": "Rich text",
    "settings": [
        {
            "type": "text",
            "id": "richtext_heading",
            "label": "Heading",
            "default": "It's default Heading for this section"
        },
        {
            "type": "text",
            "id": "richtext_text",
            "label": "Text",
            "default": "Lorem ipsum dolor asimet"
        },
        {
            "type": "select",
            "id": "richtext_height", 
            "label": "Height",
            "options": [
                {
                    "value": "small",
                    "label": "Small"
                },
                {
                    "value": "large",
                    "label": "Large"
                }
            ]
        },
        {
            "type": "text",
            "id": "richtext_button_text",
            "label": "Button text",
            "default": "Learn more"
        },
        {
            "type": "select",
            "id": "richtext_button_style",
            "label": "Button style",
            "default": "secondary",
            "options": [
                {
                    "value": "primary",
                    "label": "Primary"
                },
                {
                    "value": "secondary",
                    "label": "Secondary"
                }
            ]
        },
        {
            "type": "url",
            "id": "richtext_link_url",
            "label": "URL"
        }
    ],
    "presets": [
      {
        "category": "Text",
        "name": "Rich text"
      }
    ]
}
{% endschema %}