
<div class="max-width mx-auto h-144 w-full flex justify-center items-center relative"​​​​​​>
    <a class="cursor-pointer flex justify-center items-center h-full w-full z-20 relative" href="" id="play-video">
        <img src="//cdn.shopify.com/s/files/1/2111/1121/files/pexels-ketut-subiyanto-4546024-3_1800x1000_crop_center.jpg?v=1616679356" class="absolute h-full w-full object-cover object-center" alt="">
        <div class="bg-white h-20 w-20 flex justify-center items-center rounded-full z-30">
            <span aria-hidden="true" class="text-3xl icon icon-play-circle"></span>
        </div>
    </a> 

    <iframe id="video" style="max-width: {{ settings.layout_max_width }}px;" class="absolute w-full h-full" src="//www.youtube.com/embed/9B7te184ZpQ?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
